.cardSection {
  justify-content: center;
  max-width: 100%;
  padding: 100px 0px 100px 0px;
  background-color: #f5fbff;
}
.cardSection .mainCards {
  /* border: 1px solid black; */
  max-width: 100%;
  width: 1000px;
  margin: auto;
}
.cardSection .mainCards .head {
  margin: auto;
  width: 900px;
  max-width: 100%;
  /* border: 1px solid black; */
  text-align: center;
}
.cardSection .mainCards .head h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #162345;
  margin-bottom: 10px;
}
.cardSection .mainCards .flexCards {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: auto;
  padding: 20px 20px;
  /* border: 1px solid black; */
}
.cardSection .mainCards .card {
  border-radius: 20px;
  background: rgb(255, 236, 221);
  margin: 10px 10px;
  padding: 30px 20px;
  /* border: 1px solid black; */
  max-width: 100%;
  width: 290px;
}
.cardSection .mainCards .card:nth-child(2) {
  background: rgb(255, 200, 200);
}
.cardSection .mainCards .card:nth-child(3) {
  background: rgb(182, 229, 255);
}
.cardSection .mainCards .card .textCards {
  margin: auto;
  max-width: 100%;
  width: 180px;
  /* padding: 10px 25px; */
  /* border: 1px solid black; */
}

.cardSection .mainCards .card .textCards img {
  width: 60px;
  height: auto;
}

.cardSection .mainCards .card .textCards h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  margin: 15px 0px;
}

.cardSection .mainCards .card .textCards p {
  font-weight: 300;
  font-size: 18px;
  line-height: 167.5%;
  color: #6c6c6c;
}

@media screen and (max-width: 1020px) {
  .head h1{
    font-size: 2rem !important;
  }
  .flexCards{
    display: block !important;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
  }
  .flexCards .card{
    width: 100% !important;
    max-width: 100%;
    margin-top: 20px !important;
    /* border: 1px solid black; */
    padding: 20px 20px;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .card .textCards {
   max-width: 100%;
   width: 100% !important;
   padding: 0px 20px;
  }
  .card .textCards p{
    text-align: center;
  }
}


@media screen and (max-width: 770px) {
  .card .textCards{
    text-align: center;
  }
}